 /* - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - IMPORT - - - - - - - - - - - - - - - - - -  */
@import url("reset.css");
@import url("utility.css");




 /* - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - TYPOGRAPHIE - - - - - - - - - - - - - - - - */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html{ font-family: "Public Sans", sans-serif; }

h1{ 
    font-size: 12vw;
}
h2{
    text-align: center;
    max-width: 25ch;
}




 /* - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - COLOR - - - - - - - - - - - - - - - - - - - */
body { 
    background-color: blue;
    color: #FFF;
}
a { color: inherit;}




 /* - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - MISE EN PAGE - - - - - - - - - - - - - - -  */
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




 /* - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - MODULES - - - - - - - - - - - - - - - - - - */

